*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;

}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.media4_only {
    width: 100%;
    z-index: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #3d390e;
    display: none;
}
.logo_media{
	width: 100px;
} 
.wrapper{
	width: 100%;
	display: grid;
	
	}

.container{
	background-color: white;
	width: 90%;
	margin: 50px auto;
	display: grid;

}
.top{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.top div p{
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 6px;
	font-family: 'Ruluko', sans-serif;
}
.free_shipping{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;


}
.money_back{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.online{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.sub_nav{
	width: 100%;
	height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.input_search{
	
    padding: 10px;
    width: 40%;
}
.input_search input{
	width: 80%;
	padding: 8px;
}
.input_search button{
	padding: 8px;
	background: #de1a0c;
    border: 1px solid red;
    outline: none;
}
.input_search i{
	color: white;
}
.social{
	display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 120px;
    height: 60px;

}
/*******/
nav{
	
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background-color: black;
}
.main_menu, .shopping_cart{
	display: flex;
	padding: 10px 12px;
}
.main_menu{
    overflow-y: hidden;
}
.main_menu li{
	margin: 0 15px;
}
.main_menu a{
	font-size: 16px;
	text-transform: uppercase;
	color: white;
}
.shopping_cart, .shopping_cart_media{
	background-color: #de1a0c;
	opacity: 0.9;
}
.shopping_cart a{
	font-size: 16px;
	text-transform: uppercase;
	color: white;

	}
	.shopping_cart_media a{
		color:#de1a0c ;
	}
	.hero{
		width: 100%
	}

.shopping_cart:hover {
 
    opacity: 0.9;
}
.shopping_cart i{
	color: white;
	margin-right: 7px;
}
	/*************/

	.product{
		display: grid;
		padding: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		
		grid-auto-rows: 250px;
		grid-gap: 20px;
		margin: 40px 0 30px 0;
	}
	.card_pro{
		background-repeat: no-repeat;
		 background-size: cover;
		 background-position: center;
		 display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

	}
	.card_pro_body{
         color: white;
         background:;
         text-align: center;
         display: flex;
         flex-direction: column;
	}
	.card_body h1 {
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 15px;
}
a.card_pro_link {
    background: #de1a0c;
    padding: 5px 10px;
    color: white;
    justify-content: center;
    text-align: center;
}
.card_pro::before, .card_pro::after{
     content: "";
     position: absolute;
     border: 1px solid black;
}
.card_pro::before{
	top: 1rem;
	bottom: .5rem;
	right: 1rem;
}
.card_pro::after{
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}
/***********/

.men, .women{
                width: 100%;
                padding: 10px;
                height: auto;
            }
            .men_container, .women_container{
                width: 100%;
                height: auto;
               
                padding: 20px;
            }
            .men_f, .women_f{
                width: 45%;
                
                height: 100%;
            }
            .mens{
                width: 22%;
                height: 100%;
                padding: 7px;
            }
            .men_container{
                display: flex;
                flex-wrap: wrap;
                justify-content: space-around;
               align-items: center;
            }
            .men_f img{
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
            .mens img{
                width: 100%;
                height: 70%;
                object-fit: cover;
            }
            p.men_title{
    margin-top: 5px;
    padding-bottom: 8px;
    border-bottom: 1px solid lightgray;
}

.price{
    margin: 10px 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.p_icon p{
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bolder;
}
.p_icon span i{
    color: #ff9800;
}
.p_icon p i{
    color: blue;
}
.add_cart button {
    background: #de1a0c;
    border: none;
    padding: 7px 10px;
    color: white;
}
/**women**/
.women_container{
    display: flex;
    flex-wrap: wrap;
}
.women_container div{
    margin: 10px;
    padding: 10px;
}
.women_container img{
    width: 100%;
}
.women_m{
    flex: 2;
}
.women_p, .women_l{
    border: 1px solid lightgray;
    flex: 1;
}
women h3 {
    margin-left: 35px;
}
/******footer*****/
footer{
    width: 100%;
    padding: 10px;
}
.footer_container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.foot1 .foot_img{
    width: 150px;
}
.foot_bottom{
    display: flex;
}
.foot2{
    flex: 2;
    padding: 10px;
    flex-basis: 60%;

}
.foot1_text {
    line-height: 1.5;
}
.foot1{
    flex: 1;
    display: flex;
    align-items: center;
    flex-direction: column;
     padding: 6px;
     flex-basis: 32%;
}
.signup_letter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    margin: 10px 0;
    padding: 10px;
}
.foot_bottom{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    text-align: left;
    padding: 10px;
    grid-gap: 15px;
        margin-top: 15px;
}
.info_cont p,.customer_care p, .store p {
    font-size: 18px;
    margin-bottom: 10px;
    font-weight: 800;
    text-transform: uppercase;
}

ul.info li {
    margin-bottom: 10px;
}
ul.info{
    text-transform: capitalize;
}
.store i{
    width: 26px;
}
button.subs {
    padding: 5px 10px;
    background: #de1a0c;
    color: white;
    border: none;
}
input[type="search"] {
    padding: 5px 10px;
        width: 75%;
        
   
}
.signup_letter h2{
	flex-basis: 32%;
	font-size: 20px;
    text-transform: capitalize;


}
.form_control{
	flex-basis: 50%;
	padding: 10px 8px;

}
/*******blog*******/

.myBlog{
            width: 100%;
            height: auto;
            margin: 30px 0;
          }
          
          .blog{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            grid-auto-rows: auto;
            grid-gap: 25px;
            padding: 25px;
            border-left: 100px solid lightgray;
            border-top: 2px solid lightgray;
            border-bottom: 2px solid lightgray;
          }
          .blog h3{
              grid-column: 1/-1;
              position: relative;
          }
          .blog h3::before {
    content: '';
    position: absolute;
    height: 3px;
    width: 25%;
    background-color: #958b8b;
    bottom: -11px;
    left: 0;
}
          
          .blog_items{
            position: relative;
          }
          .blog_items h5{
            padding: 5px 0;
          }
          .blog_items img{
                width: 100%;
          }
          .date {
    background: #de1a0c;
    width: 50px;
    height: 50px;
    color: white;
    /* align-items: center; */
    text-align: center;
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px;
}
/**bottom**/

hr#bot {
    width: 75%;
    margin: 0 auto;
    color: lightgray;
}
.bottom{
    padding: 15px;
    margin: 15px 0;
    display: flex; 
    justify-content: center;
    align-items: center;
}










	/*********responsive media query*********/
	@media (max-width: 540px){
		.mens{
			width: 100%!important;
		}
         .women_p, .women_l{
            
            width: 100%;
            }

		.blog{
          border-left: 2px solid lightgray;
           }

	}

	@media (max-width: 615px){
		.container{
			width: 100%;
			padding: 10px;
		}
		.social{
			display: none;
		}
		
    	.input_search {
    display: flex;
    justify-content: center;
    width: 100%;
}
   .logo{
   	display: none;
   }
   .signup_letter h2{
	flex-basis: 100%;
	text-align: center;
	padding: 5px;
}
.form_control{
	flex-basis: 100%;
	text-align: center;
}
  
	}

@media (max-width: 710px)
    {
    	.logo{
    		width: 100px;
    	
    	}
    	.social a img{
    		width: 25px;
    		margin: 0 2px;
    	}
    	.signup_letter h2{
	     font-size: 20px;
}
}
    
@media  (max-width: 800px){
         nav{
         	order: -1;
         }
         ul.main_menu{
              display: block;
    position: absolute;
    right: 0px;
    top: 70px;
    z-index: 100;
    background: #de1a0c;
    padding: 18px;
    width: 100%;
    height: calc(100vh - 80px);
    text-align: center;
    transform: translateY(-700px);
    overflow-y: hidden!important;
    transition: all 0.4s ease-in-out;

         }
          ul.main_menu.show{
         	transform: translateY(10px);
         } 
         ul.main_menu li {
    margin: 20px 0;
    padding: 20px;
}
.media4_only {
   padding: 15px;
   display: flex;
}
a.shopping_count {
    background: white;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -12px;
    right: -22px;
}
.pos{
	position: relative;
}
.shopping_count{

}

span#hamburgerFs {
    order: 1;
}
span#hamburgerFs i {
    font-size: 25px;
    color: white;
}
ul.shopping_cart{
	display: none;
}


i.fas.fa-shopping-cart {
    font-size: 25px;
    color: white;
}
ul.shopping_cart_media{
	background-color: transparent;
}
}

@media  (max-width: 840px){
    	
    	.foot2{
    		flex-basis: 100%;
    	}
    }

@media (max-width: 885px){
         ul.main_menu a, ul.shopping_cart a{
         	font-size: 14px;
         }
	}
@media (max-width: 992px){

		.men_f{
			width: 100%;
		}
		.mens{
                width: 45%;
                height: 100%;
                padding: 7px;
                margin-top: 15px;
            }
            .women_m{
                order: 1;
                flex-basis: 100%
            }
            .women_p, .women_l{
                flex-basis: 45%;
            }
	}
