*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;

}
li{
	list-style: none;
}
a{
	text-decoration: none;
}
.media4_only {
    width: 100%;
    z-index: 200;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #de1a0c;
    display: none;
}
.logo_media{
	width: 100px;
} 
.wrapper{
	width: 100%;
	display: grid;
	
	}

.container{
	background-color: white;
	width: 90%;
	margin: 50px auto;
	display: grid;

}
.top{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}
.top div p{
	font-size: 16px;
	text-transform: uppercase;
	margin-left: 6px;
	font-family: 'Ruluko', sans-serif;
}
.free_shipping{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;


}
.money_back{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.online{
	border-right: 2px solid lightgray;
	border-bottom: 2px solid lightgray;
	padding: 10px;
	display: flex;
	align-items: center;
	justify-content: center;

}
.sub_nav{
	width: 100%;
	height: 85px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    }

.input_search{
	
    padding: 10px;
    width: 40%;
}
.input_search input{
	width: 80%;
	padding: 8px;
}
.input_search button{
	padding: 8px;
	background: #de1a0c;
    border: 1px solid red;
    outline: none;
}
.input_search i{
	color: white;
}
.social{
	display: flex;
    width: 20%;
    justify-content: space-around;
    align-items: center;
}

.logo {
    width: 120px;
    height: 60px;

}
/*******/
nav{
	
	display: flex;
	align-items: center;
	justify-content: space-around;
	width: 100%;
	background-color: black;
}
.main_menu, .shopping_cart{
	display: flex;
	padding: 10px 12px;
}
.main_menu li{
	margin: 0 15px;
}
.main_menu a{
	font-size: 16px;
	text-transform: uppercase;
	color: white;
}
.shopping_cart, .shopping_cart_media{
	background-color: #de1a0c;
	opacity: 0.9;
}
.shopping_cart a{
	font-size: 16px;
	text-transform: uppercase;
	color: white;

	}
	.shopping_cart_media a{
		color:#de1a0c ;
	}
	.hero{
		width: 100%
	}

.shopping_cart:hover {
 
    opacity: 0.9;
}
.shopping_cart i{
	color: white;
	margin-right: 7px;
}
	/*************/

	.product{
		display: grid;
		padding: 10px;
		grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
		
		grid-auto-rows: 200px;
		grid-gap: 20px;
		margin: 40px 0 30px 0;
	}
	.card_pro{
		background-repeat: no-repeat;
		 background-size: cover;
		 background-position: center;
		 display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

	}
	.card_pro_body{
         color: white;
         background:;
         text-align: center;
         display: flex;
         flex-direction: column;
	}
	.card_body h1 {
    font-size: 35px;
    letter-spacing: 1px;
    color: white;
    margin-bottom: 15px;
}
a.card_pro_link {
    background: #de1a0c;
    padding: 5px 10px;
    color: white;
    justify-content: center;
    text-align: center;
}
.card_pro::before, .card_pro::after{
     content: "";
     position: absolute;
     border: 1px solid black;
}
.card_pro::before{
	top: 1rem;
	bottom: .5rem;
	right: 1rem;
}
.card_pro::after{
	bottom: 1rem;
	left: 1rem;
	right: 1rem;
}
/***********/
















	/*********responsive media query*********/
	@media (max-width: 615px){
		.container{
			width: 100%;
			padding: 10px;
		}
		.social{
			display: none;
		}
		
    	.input_search {
    display: flex;
    justify-content: center;
    width: 100%;
}
   .logo{
   	display: none;
   }
  /*  .logo_media{
   	display: block;
   } */
	}


	@media (max-width: 710px)
    {
    	.logo{
    		width: 100px;
    	
    	}
    	.social a img{
    		width: 25px;
    		margin: 0 2px;
    	}
}
    


	@media  (max-width: 800px){
         nav{
         	order: -1;
         }
         ul.main_menu{
              display: block;
    position: absolute;
    right: 39px;
    top: 88px;
    z-index: 100;
    background: #de1a0c;
    padding: 18px;
    width: 35%;
    text-align: center;
    display: none;

         }
         ul.main_menu li {
    margin: 20px 0;
    padding: 15px;
}
.media4_only {
   padding: 15px;
   display: flex;
}
a.shopping_count {
    background: white;
    padding: 5px 10px;
    font-weight: 700;
    border-radius: 50%;
    display: block;
    position: absolute;
    top: -12px;
    right: -22px;
}
.pos{
	position: relative;
}
.shopping_count{

}

span#hamburgerFs {
    order: 1;
}
span#hamburgerFs i {
    font-size: 25px;
    color: white;
}
ul.shopping_cart{
	display: none;
}


i.fas.fa-shopping-cart {
    font-size: 25px;
    color: white;
}
ul.shopping_cart_media{
	background-color: transparent;
}

	}



	@media (max-width: 885px){
         ul.main_menu a, ul.shopping_cart a{
         	font-size: 14px;
         }
	}
